datasets
fastapi
git+https://github.com/davidbau/baukit
git+https://github.com/EleutherAI/sae
# git+https://github.com/lucyfarnik/sae-auto-interp
huggingface-hub[cli]
ipykernel
kaleido
matplotlib
nnsight
orjson
pydantic
sae-lens
torch
transformer-lens
transformers
uvicorn